


<!-- <div id="cookies">
      <p>We use Cookies on this site to enhance your user experience by personalising content and ads, providing social media features and analysing our traffic. You consent to our cookies if you continue to use our website. For more details read our cookie policy</p>
        <div id="cookies-btns">
            <a href="" id="details">Show details</a>
            <button id="accept">Accept</button>
        </div>
</div> -->

<footer>
  <div class="footer-wrapper">
  <div>
    <div class="brd">
      <img src="/images/logo3.png" alt="">
      <p>We help you buy,
        rent, Design and or build
        your dream home, office, short lets and/or lands</p>
    </div>
  </div>
  <div id="footer-terms">
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/cookies">Cookie Policy</a>
    <a href="/terms">Terms and conditions</a>
  </div>
  <div id="our-service">
    <a href="/short-let">Short Let</a>
    <a href="/buy">Buy</a>
    <a href="/build">Build</a>
  </div>
  <div class="other-service">
    <a href="/rent">Rent</a>
    <a href="/ref">Refer</a>
    <a href="/design">Design</a>
  </div>
</div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>