
<footer>
  <h5><span>Stay</span>. <span>Live</span>. <span>Work</span>. <span>Invest.</span> Just Like A Local.</h5>
  <div class="footer-wrapper">
  <div>
    <div class="brd">
      <img src="/images/logo5.png" alt="">
      <p>We help you buy, rent, design, invest, let, sell and or build your dream home, investment properties, office, short lets and/or lands cost and time efficiently, all from your one-stop Property solutions platform account.</p>
    </div>
  </div>
  <div class="other-service terms">
    <a href="/privacy-policy">Privacy Policy</a>
    <a href="/cookies">Cookie Policy</a>
    <a href="/terms">Terms and conditions</a>
  </div>
  <div class="other-service">
    <a href="/short-let">Short Let</a>
    <a href="/buy">Buy</a>
    <a href="/build">Build</a>
  </div>
  <div class="other-service">
    <a href="/rent">Rent</a>
    <a href="/ref">Refer</a>
    <a href="/design">Design</a>
  </div>
  <div class="other-service">
    <a href="/sell">Sell</a>
    <a href="/invest">Invest</a>
    <a href="/let">Let</a>
  </div>
</div>

<div class="copy-right">
  <p>Local Stayz is a product of Xcelzs Property Solutions Ltd copyright 2020</p>
</div>
</footer>



<div class="cookies">
  <div class="cookie-content">
  <p>We use Cookies on this site to enhance your user experience by personalising content and ads, providing social media features and analysing our traffic. You consent to our cookies if you continue to use our website. For more details read our <a href="/cookies">cookie policy</a></p>
    <div id="cookies-btns">
        <a href="/cookies" id="details">Show details</a>
        <button class="accept">Accept</button>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/js/uikit.min.js"></script>
<script src="/js/uikit-icons.min.js"></script>
<script src="/js/semantic.min.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>