<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/uikit.min.css" />
 
        <link rel="stylesheet" href="/css/mainstyle.css" />
        
    </head>


    <body>

        <header uk-sticky>
            <nav class="social-nav">
                <div class="social-icons">
                    <div>
                        <a href=""><span uk-icon="facebook"></span></a>
                        <a href=""><span uk-icon="youtube"></span></a>
                        <a href=""><span uk-icon="twitter"></span></a>
                        <a href=""><span uk-icon="linkedin"></span></a>
                        <a href=""><span uk-icon="whatsapp"></span></a>
                        <a href=""><span uk-icon="instagram"></span></a>
                        <a href=""><span uk-icon="receiver"></span></a>
                        <a href=""><span uk-icon="mail"></span></a>
                    </div>
      
                <a href="#signup" uk-toggle class="subscribe" id="sign-up">Subscribe Now</a>
            </div>
            
            </nav>
            <nav class="logo-nav">
                <a href="/home" class="brand"><img src="/images/logo5.png" alt=""></a>
                <ul class="center">
                    <li class="hwiks">How it works
                        <ul class="hwiks-drps">
                            <li><a href="/how-it-works">About Our Services</a></li>
                            <li><a href="/find-property">Service Fees</a></li>
                            <li><a href="/property-Contracting">Getting Started</a></li>
                            <li><a href="/property-design">Why it will Work</a></li>
                            <li><a href="/FAQS">FAQs</a></li>
                        </ul>
                    </li>
                    <li class="properties">Properties
                        <ul class="props-drps">
                            <li><a href="/short-let">Short Let</a></li>
                            <li><a href="/rent">Rent</a></li>
                            <li><a href="/buy">Buy</a></li>
                            <li><a href="/build">Build</a></li>
                            <li><a href="/design">Design</a></li>
                            <li><a href="/design">Invest</a></li>
                            <li><a href="/design">Sell</a></li>
                            <li><a href="/design">Let</a></li>
                        </ul>
                    </li>
                    <li class="insight">Insights
                        <ul class="insight-drps">
                            <li><a href="/average-housing-prices"> Average housing prices</a></li>
                            <li><a href="/home-finance-solutions">Home Finance Solutions</a></li>
                            <li><a href="/things-to-Consider">Things to Consider</a></li>
                            <li><a href="/guide">Guides (How Tos)</a></li>
                        </ul>
                    </li>

                    <li class="about-us"><a href="/about-us">Affiliates
                        <ul class="aboutUs-drps">
                            <li><a href="#">Demand Sourcers</a></li>
                            <li><a href="#">BCF Contractors</a></li>
                            <li><a href="#">BCF Suppliers</a></li>
                            <li><a href="#">BCF Market</a></li>
                        </ul>
                    </li>

                    <li class="about-us"><a href="/about-us">About us
                        <ul class="aboutUs-drps">
                            <li><a href="#">Our Terms</a></li>
                            <li><a href="#">Success Stories</a></li>
                            <li><a href="#"> Connect with Us</a></li>
                            <li><a href="#">Work With Us</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="right">
                <% if(currentUser){ %>
                    <a href="/xcelzs/logout">Log Out</a>
               <% } else{ %>
                    <a href="#login" uk-toggle class="auth" id="login">My Properties</a>
               <% }%>
                </div>
            </nav>
        </header>


<!-- modal one -->
<div id="modal-center" class="uk-flex-top auth-form" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical init-pop-up">

        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h5>Don't Know what you are looking for?</h5>
        <img src="/images/modalimg.png" alt="" class="modal-img">
        <p>Join our free no obligation weekly webinars for a friendly  chat to discuss your options.</p>
        <div class="btn-wrapper">

                <a href="#signup" class="myButt one" uk-toggle>
                    <div class='insider'></div>
                    Sign Up
                </a>
        </div> 
    </div>
</div>        

<!-- modal two -->
        <div id="signup" class="uk-flex-top auth-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical auth-wrapper">
        
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h4>Register Below</h4>

                <form action="" uk-grid>
                    <div class="uk-width-1-2@s">
                        <input class="uk-input" type="text" name="username" placeholder="Enter First Name">
                    </div>
                    <div class="uk-width-1-2@s">
                        <input class="uk-input" type="text" name="last" placeholder="Enter Last name">
                    </div>

                    <div class="uk-width-1-1">
                        <input class="uk-input" type="email" name="email" placeholder="Enter E-mail">
                    </div>

                    <div class="uk-width-1-1">
                        <input class="uk-input" type="text" placeholder="What's app">
                    </div>


                    <div class="uk-margin uk-width-1-1">
                        <div class="uk-form-controls">
                            <select class="uk-select" id="form-stacked-select">
                                <option>I want to</option>
                                <option>Short Let</option>
                                <option>Rent</option>
                                <option>Buy</option>
                                <option>Build</option>
                                <option>Design</option>
                                <option>Sell</option>
                                <option>Let</option>
                                <option>Invest</option>
                            </select>
                        </div>
                    </div>
                    <button class='myButt one signup-btn'>
                        <div class='insider'></div>
                        Register Now
                    </button>
                   
                </form>
        
            </div>
        </div>
    
<!-- modal three     -->
        <div id="signup-complete" class="uk-flex-top auth-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical init-pop-up">

                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h5>Thank You</h5>
                <img src="/images/congrats.png" alt="" class="modal-img">
                <p>Email will be send to you within 48 hours with the webinar details.</p>
                


                <div class="btn-wrapper">
                    <a href="#" class="uk-modal-close-default myButt one" type="button">
                        <div class='insider'></div>
                        Close
                    </a>
                </div>
                
            </div>
    </div>
    
<!-- Log in -->
        <div id="login" class="uk-flex-top auth-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical auth-wrapper">
        
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h3><span>X</span>CELZS</h3>
                <h4>Hello again <br>Welcome back</h4>
                <form action="/xcelzs/login" method="POST">
                    <label for="">Enter username</label>
                    <input type="text" name="username" placeholder="Username here">
                    <label for="">Enter e-mail</label>
                    <input type="email" name="email" placeholder="E-mail here">
                    <label for="">Enter password</label>
                    <input type="password" name="password" placeholder="Passwoord here">
                    <button>LOG IN</button>
                </form>
        
            </div>
        </div>

       

        <!-- <section class="nav-wrapper">
        <div class="nav-items">
            <% if(currentUser){ %>
                <div class="brand"><i class="fab fa-artstation 3x"></i><a href="/akuaba/user">AKUABA</a>
                    <a href="/akuaba/product/all-products">Browse products</a>
                </div>
            <% }else{ %>
                <div class="brand"><i class="fab fa-artstation 3x"></i><a href="/akuaba">AKUABA</a></div>
            <% } %>
            <div class="nav-links">
                <% if(currentUser && currentUser.shop.length < 1){ %>
                    <a href="/akuaba/user/<%=currentUser._id%>/shop/new">Become a Seller</a>
                    <a href="/xcelzs/logout">Log Out</a>
                   <a href="/akuaba/user/profile"><img src="" alt="" class="avatar"></a>
                <% }else if(currentUser && currentUser.shop.length === 1) { %>
                    <a href="/akuaba/user/<%=currentUser._id%>/shop/my-shop"><i class="fas fa-store"></i> Manage Shop</a>
                    <a href="/xcelzs/logout">Log Out</a>
                    <a href="/akuaba/user/profile"><img src="/images/2.png" alt="" class="avatar"></a>
                    
                <% } else{ %>
                    <a href="/xcelzs/signup">Sign Up</a>
                    <a href="/xcelzs/login">Log In</a>
              <%  }%>
            </div>
        </div>
    </section> -->
 