<!DOCTYPE html>
<html>
    <head>
        <title>Title</title>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/uikit.min.css" />
 
        <link rel="stylesheet" href="/css/mainstyle.css" />
        
    </head>


    <body>

        <header class="header2" id="header">
            <nav>
                <a href="/home" class="brand"><span>X</span>CELZS</a>
                <div class="center">
                    <a href="/how-it-works">How it works</a>
                    <a href="/about-us">About us</a>
                    <a href="/properties">Properties</a>
                </div>
                <div class="right">
                <% if(currentUser){ %>
                    <a href="/xcelzs/logout">Log Out</a>
               <% } else{ %>
                    <a href="#signup" uk-toggle class="auth">Sign Up</a>
                    <a href="#login" uk-toggle class="auth" id="login">Log In</a>
               <% }%>
                </div>
            </nav>
        </header>

       

        <div id="signup" class="uk-flex-top auth-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical auth-wrapper">
        
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h3><span>X</span>CELZS</h3>
                <h4>Hello! <br>Lets get your account set up</h4>
                <form action="/xcelzs/signup" method="POST">
                    <label for="">Enter username</label>
                    <input type="text" name="username" placeholder="Enter Username">
                    <label for="">Enter e-mail</label>
                    <input type="email" name="email" placeholder="enter E-mail">
                    <label for="">Enter password</label>
                    <input type="password" name="password" placeholder="Enter Passwoord">
                    <button>SIGN UP</button>
                </form>
        
            </div>
        </div>

        <div id="login" class="uk-flex-top auth-form" uk-modal>
            <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical auth-wrapper">
        
                <button class="uk-modal-close-default" type="button" uk-close></button>
                <h3><span>X</span>CELZS</h3>
                <h4>Hello again <br>Welcome back</h4>
                <form action="/xcelzs/login" method="POST">
                    <label for="">Enter username</label>
                    <input type="text" name="username" placeholder="Username here">
                    <label for="">Enter e-mail</label>
                    <input type="email" name="email" placeholder="E-mail here">
                    <label for="">Enter password</label>
                    <input type="password" name="password" placeholder="Passwoord here">
                    <button>LOG IN</button>
                </form>
        
            </div>
        </div>