body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.section-head-text {
  margin: 0 auto;
  width: 100vw;
  text-align: center;
  margin-top: 50px;
  padding-top: 70px;
  border-top: 1px solid #b4b4b4;
}

.section-head-text h3 {
  font-size: 2em;
  font-weight: 700;
}

.section-head-text h3 span {
  color: #fac710;
}

header {
  width: 100vw;
  border-bottom: 1px solid #c5c5c5;
  background-color: #f1f1f1;
}

header .social-nav {
  width: 100%;
  border-bottom: 1px solid #8b8b8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header .social-nav .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85vw;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header .social-nav .social-icons div a {
  text-decoration: none;
  color: #6b6b6b;
  margin-right: 30px;
}

header .social-nav .social-icons .subscribe {
  text-decoration: none;
  background-color: #fac710;
  color: #292929;
  padding: 8px 25px;
  border-radius: 5px;
  font-weight: 600;
}

header .social-nav .social-icons .subscribe:hover {
  background-color: #f8d24a;
}

header .logo-nav {
  width: 85vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header .logo-nav .brand {
  width: 150px;
}

header .logo-nav .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-nav .center li {
  list-style: none;
  position: relative;
  margin-right: 50px;
  font-weight: 600;
  color: #6b6b6b;
  cursor: pointer;
}

header .logo-nav .center li:hover {
  color: black;
}

header .logo-nav .center li .props-drps {
  width: 180px;
}

header .logo-nav .center li a {
  text-decoration: none;
  color: #6b6b6b;
}

header .logo-nav .center li ul {
  position: absolute;
  background-color: #f1f1f1;
  padding: 0;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
  width: 180px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 5px solid #fac710;
  z-index: 1;
}

header .logo-nav .center li ul li {
  font-weight: 500;
  padding: 10px 15px;
  margin: 0;
}

header .logo-nav .center li ul li:hover {
  color: #fac710;
  background-color: #e6e6e6;
}

header .logo-nav .center .insight-drps {
  width: 200px;
}

header .logo-nav .center .hwiks:hover .hwiks-drps {
  display: block;
}

header .logo-nav .center .properties:hover .props-drps {
  display: block;
}

header .logo-nav .center .insight:hover .insight-drps {
  display: block;
}

header .logo-nav .center .about-us:hover .aboutUs-drps {
  display: block;
}

header .logo-nav .right a {
  font-size: 1.1em;
  color: #292929;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 600;
}

header .logo-nav .right #login {
  background-color: #fac710;
  padding: 8px 17px;
  border-radius: 5px;
}

header .logo-nav .right #login:hover {
  background-color: #f8d24a;
}

header .logo-nav .right #sign-up {
  color: #6b6b6b;
}

.jumbo .uk-dotnav li a {
  border-radius: 0 !important;
}

.jumbo .uk-dotnav > * > * {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 5px;
  height: 70px;
  border-radius: none !important;
  background: rgba(102, 102, 102, 0.4) !important;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  border: 1px solid rgba(102, 102, 102, 0.4) !important;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}

.uk-slideshow-items li .head-text-wrap-1 {
  margin-top: 70px;
}

.uk-slideshow-items li .head-text-wrap-1 .text-1 {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 15%;
}

.uk-slideshow-items li .head-text-wrap-1 .text-1 .head-text-1 {
  color: #242424;
  font-weight: 700 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 3em !important;
  line-height: 60px;
  letter-spacing: 2px !important;
  width: 45%;
  margin-left: 50%;
}

.uk-slideshow-items li .head-text-wrap-1 .text-1 .head-text-1 span {
  color: #fac710;
}

.uk-slideshow-items li .head-text-wrap-1 .text-1 a {
  background-color: #fac710;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 2px;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  margin-left: 50%;
  text-decoration: none;
  color: #252525;
  cursor: pointer;
}

.uk-slideshow-items li .head-text-wrap-1 .text-1 a:hover {
  background-color: #f8d24a;
}

.uk-slideshow-items li .head-text-wrap-2 {
  margin: 0 auto;
  margin-top: 70px;
  width: 85vw;
}

.uk-slideshow-items li .head-text-wrap-2 .text-2 {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 15%;
}

.uk-slideshow-items li .head-text-wrap-2 .text-2 .head-text-2 {
  color: #242424;
  font-weight: 700 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 3em !important;
  line-height: 60px;
  letter-spacing: 2px !important;
  width: 40%;
}

.uk-slideshow-items li .head-text-wrap-2 .text-2 .head-text-2 span {
  color: #fac710;
}

.uk-slideshow-items li .head-text-wrap-2 .text-2 a {
  background-color: #fac710;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 2px;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  color: #252525;
}

.uk-slideshow-items li .head-text-wrap-2 .text-2 a:hover {
  background-color: #f8d24a;
}

.uk-slideshow-items li .head-text-wrap-3 {
  margin: 0 auto;
  margin-top: 70px;
  width: 85vw;
}

.uk-slideshow-items li .head-text-wrap-3 .text-3 {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 15%;
}

.uk-slideshow-items li .head-text-wrap-3 .text-3 .head-text-3 {
  color: #242424;
  font-weight: 700 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 3em !important;
  line-height: 60px;
  letter-spacing: 2px !important;
  width: 50%;
}

.uk-slideshow-items li .head-text-wrap-3 .text-3 .head-text-3 span {
  color: #fac710;
}

.uk-slideshow-items li .head-text-wrap-3 .text-3 a {
  background-color: #fac710;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 2px;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  text-decoration: none;
  color: #252525;
}

.uk-slideshow-items li .head-text-wrap-3 .text-3 a:hover {
  background-color: #f8d24a;
}

.uk-slideshow-items li .head-text-wrap-4 .text-4 {
  position: relative !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 5%;
}

.uk-slideshow-items li .head-text-wrap-4 .text-4 .head-text-4 {
  color: #242424;
  font-weight: 700 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 3em !important;
  line-height: 60px;
  letter-spacing: 2px !important;
  width: 50%;
  margin-left: 43%;
}

.uk-slideshow-items li .head-text-wrap-4 .text-4 .head-text-4 span {
  color: #fac710;
}

.uk-slideshow-items li .head-text-wrap-4 .text-4 a {
  background-color: #fac710;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 2px;
  width: 160px;
  border-radius: 7px;
  text-align: center;
  margin-left: 43%;
  text-decoration: none;
  color: #252525;
}

.uk-slideshow-items li .head-text-wrap-4 .text-4 a:hover {
  background-color: #f8d24a;
}

.auth-form .init-pop-up {
  border-top: 6px solid #fac710;
  border-bottom: 6px solid #fac710;
  border-radius: 15px;
}

.auth-form .auth-wrapper {
  background-image: url("/images/pop-back.png");
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;
  border-radius: 15px;
  border-top: 6px solid #fac710;
  border-bottom: 6px solid #fac710;
}

.auth-form .auth-wrapper img {
  width: 100px;
}

.auth-form .auth-wrapper h4 {
  font-weight: 700;
  color: teal;
  font-size: 1.8em;
}

.auth-form form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-form form input {
  border: 1px solid #fac710;
  font-weight: 600;
  border-radius: 5px;
}

.auth-form form input:focus {
  border: 1.5px solid teal;
}

.auth-form form button {
  width: 100%;
  margin: 0 auto;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  padding: 20px 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-top: 30px;
  margin-left: 35px;
  text-align: center;
}

.auth-form form button:hover {
  background-color: #f8d24a;
}

.auth-form form select {
  font-weight: 600;
  color: #6b6b6b;
  border-radius: 10px;
  border: 1px solid #fac710;
  margin-top: 20px;
}

.fact {
  width: 85vw;
  margin: 0 auto;
}

.fact .uk-slideshow-items {
  color: black !important;
}

.fact .uk-slideshow-items > div {
  z-index: 2;
  color: black !important;
}

.fact .uk-slideshow-items > div .facts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.fact .uk-slideshow-items > div .circle {
  height: 350px;
  width: 350px;
  border: 60px solid #fac710;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2em;
  color: gray;
  font-weight: 700;
  border-radius: 100%;
  padding: 7px;
  line-height: 45px;
  text-align: center;
}

.fact .uk-slideshow-items > div .circle p {
  color: white;
  font-weight: 700;
}

.fact .uk-slideshow-items > div .circle .rate i {
  font-size: 1.5em !important;
}

.fact .uk-slideshow-items > div .circle i {
  font-size: 4em;
}

.fact .uk-slideshow-items > div .right-text {
  width: 30%;
  margin-left: 50px;
  margin-right: 0;
  font-size: 3em;
  font-weight: 800;
  text-align: center;
  color: black;
}

.fact .uk-slideshow-items > div .left-text {
  width: 30%;
  margin-left: 50px;
  text-align: left;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: 800;
  color: #6b6b6b;
}

.fact .uk-slideshow-items > div .left-text span {
  color: #fac710;
}

footer {
  width: 100vw;
  background-color: #e7e7e7;
  padding-top: 30px;
}

footer h5 {
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
}

footer h5 span {
  color: #fac710;
}

footer .footer-wrapper {
  width: 85vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
  width: 20%;
  padding-bottom: 30px;
}

footer .footer-wrapper > div h5 {
  font-size: 1.3em;
}

footer .footer-wrapper > div img {
  width: 150px;
}

footer .footer-wrapper > div a {
  text-decoration: none;
  color: #383838;
  padding-bottom: 10px;
  font-size: 1.2em;
}

footer .footer-wrapper > div a:hover {
  color: #312b06;
  font-weight: 500;
}

footer .footer-wrapper .other-service {
  padding-left: 150px;
}

footer .footer-wrapper .terms {
  padding-left: 70px;
}

footer .copy-right {
  width: 100vw;
  height: 40px;
  background-color: #b9b9b9;
}

footer .copy-right p {
  width: 85vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  letter-spacing: 2px;
}

.cookies {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding-top: 10px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cookies .cookie-content {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

.cookies .cookie-content #cookies-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cookies .cookie-content #cookies-btns a {
  background-color: #fac710;
  padding: 10px 30px;
  color: #6b6b6b;
  border-radius: 5px;
}

.cookies .cookie-content #cookies-btns a:hover {
  background-color: #f8d24a;
}

.cookies .cookie-content #cookies-btns button {
  background-color: #fac710;
  padding: 10px 30px;
  color: #6b6b6b;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.cookies .cookie-content #cookies-btns button:hover {
  background-color: #f8d24a;
}

.active {
  bottom: 0;
}

.noHover {
  pointer-events: none;
}

#modal-center h5 {
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
}

#modal-center p {
  font-size: 1.5em;
  text-align: center;
}

.modal-img {
  width: 400px;
  margin-left: 10%;
}

#signup-complete h5 {
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
}

#signup-complete p {
  font-size: 1.5em;
  text-align: center;
}

.btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myButt {
  text-decoration: none;
  outline: none;
  border: none;
  padding: 20px;
  width: 100%;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  font-size: 20px;
  background-color: black;
  position: relative;
  border: 2px solid #fff;
  text-align: center;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
}

.one {
  border-color: #fff;
  overflow: hidden;
  color: #fff;
}

.one .insider {
  background-color: #fff;
  width: 100%;
  height: 20px;
  position: absolute;
  left: -260px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
}

.one:hover {
  background-color: #fac710;
  border-color: #fff;
  color: black;
}

.one:hover .insider {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  left: 135px;
}

@-webkit-keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}

@keyframes shakeThatBooty {
  33% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
  67% {
    transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg);
    -moz-transform: rotateZ(-10deg);
    -o-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
    -webkit-transform: rotateZ(10deg);
    -moz-transform: rotateZ(10deg);
    -o-transform: rotateZ(10deg);
    -ms-transform: rotateZ(10deg);
  }
}

.know-container {
  background: #FCFBE9;
  height: 100vh;
}

#know-header-text {
  text-align: center;
  font-weight: 600;
  padding: 40px;
}

#know-header-text span {
  color: #fac710;
}

.knowMore {
  width: 85vw;
  margin: 0 auto;
  height: 680px;
}

.knowMore ul {
  height: 100%;
}

.knowMore ul li .tabs-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.knowMore ul li .tabs-wrapper > div {
  border: 5px solid #fac710;
  height: 270px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 40px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 37px -30px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 37px -30px rgba(0, 0, 0, 0.75);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.knowMore ul li .tabs-wrapper > div:hover {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: 0px 1px 37px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 37px -20px rgba(0, 0, 0, 0.75);
}

.knowMore ul li .tabs-wrapper > div img {
  width: 240px;
  margin-right: 50px;
  background-color: #FCFBE9;
}

.knowMore ul li .tabs-wrapper > div > div {
  margin: 0;
  padding: 0;
}

.knowMore ul li .tabs-wrapper > div > div p {
  color: #6b6b6b;
  font-size: 1.2em;
}

.knowMore ul li .tabs-wrapper > div > div h5 {
  color: #252525;
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.knowMore ul li .tabs-wrapper > div > div h5 span {
  color: #fac710;
}

.knowMore ul li .tabs-wrapper .top {
  margin-bottom: 100px;
}

.knowMore ul li .tabs-wrapper .bottom {
  margin-left: 20%;
}

.knowMore ul li .tabs-wrapper .bottom img {
  margin-right: 0;
}

.knowMore ul li .head-text-wrap-1 .dot {
  left: 85% !important;
}

.knowMore ul li .head-text-wrap-1 .dot .uk-dotnav li a {
  height: 25px;
  width: 25px;
  border: 3px solid #fac710;
  border-radius: 100%;
}

.knowMore a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.knowMore a i {
  text-align: center;
  color: #2d2d5e;
}

.knowMore a span {
  font-weight: 700;
  font-size: 2em;
  color: #fac710;
  margin-right: 30px;
}

.fees-container {
  background-color: #FCFBE9;
  padding-bottom: 70px;
}

.fees-container .fee-header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 70px;
  margin-bottom: 70px;
}

.fees-container .fee-header #fee-header-text {
  margin: 0;
  padding: 0;
}

.fees-container .fee-header p {
  width: 600px;
  margin: 0 auto;
  padding: 0;
  font-weight: 600;
  padding-top: 20px;
}

.fees-container .fees-wrapper {
  width: 85vw;
  margin: 0 auto;
}

.fees-container .fees-wrapper .know-tabs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fees-container .fees-wrapper .know-tabs-wrapper > div {
  border: 5px solid #fac710;
  width: 40%;
  padding: 50px 80px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.fees-container .fees-wrapper .know-tabs-wrapper > div:hover {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: 0px 1px 37px -20px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 37px -20px rgba(0, 0, 0, 0.75);
}

.fees-container .fees-wrapper .know-tabs-wrapper > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fees-container .fees-wrapper .know-tabs-wrapper > div > div img {
  width: 120px;
}

.fees-container .fees-wrapper .know-tabs-wrapper > div > div .text h5 {
  text-align: center;
  font-weight: 700;
  font-size: 1.4em;
}

.fees-container .fees-wrapper .know-tabs-wrapper > div > div .text p {
  font-size: 1.2em;
}

.fees-container .fees-wrapper .know-tabs-wrapper > div h5 {
  text-align: center;
  font-weight: 700;
  font-size: 1.7em;
}

.fees-container .fees-wrapper .know-tabs-wrapper > div .top {
  margin-bottom: 50px;
}

.fees-container .next-arrow {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.fees-container .next-arrow a {
  text-decoration: none;
  color: #22224e;
}

.fees-container .next-arrow a span {
  font-size: 1.8em;
  font-weight: 600;
  color: #fac710;
}

.service-container {
  background-color: #FCFBE9;
  padding-top: 70px;
}

.service-container .fee-header {
  width: 90vw;
  margin: 0 auto;
}

.service-container .fee-header h1 {
  text-align: center;
  font-weight: 700;
}

.service-container .fee-header p {
  text-align: center;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2em;
  width: 600px;
  margin-bottom: 50px;
}

.service-container .btn-tabs {
  width: 85vw;
  margin: 0 auto;
}

.service-container .btn-tabs .uk-subnav li {
  border-radius: 10px;
}

.service-container .btn-tabs .uk-subnav li a {
  border-radius: 10px;
  -webkit-transition: 500ms !important;
  transition: 500ms !important;
}

.service-container .btn-tabs .uk-subnav li a:hover {
  background-color: #fac710;
}

.service-container .fees-tab-wrapper {
  width: 85vw;
  margin: 0 auto;
  margin-top: 70px;
}

.service-container .fees-tab-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-container .fees-tab-wrapper > div > div {
  height: 450px;
  width: 450px;
  border: 5px solid #fac710;
}

.service-container .fees-tab-wrapper .middle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-container a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-container a i {
  text-align: center;
  color: #2d2d5e;
}

.service-container a span {
  font-weight: 700;
  font-size: 2em;
  color: #fac710;
  margin-right: 30px;
}

.uk-subnav-pill > .uk-active > a {
  background-color: #fac710;
  color: #272727;
}

.uk-subnav-pill > * {
  background: #272727;
  border-radius: 10px;
  margin-right: 10px;
}

.uk-light .uk-slidenav {
  color: #2d2d5e !important;
}

.sign-btn-disable {
  background-color: gray;
}

.uk-margin-auto-vertical {
  width: 500px !important;
}

.uk-light .uk-dotnav > .uk-active > *, .uk-section-primary:not(.uk-preserve-color) .uk-dotnav > .uk-active > *, .uk-section-secondary:not(.uk-preserve-color) .uk-dotnav > .uk-active > *, .uk-tile-primary:not(.uk-preserve-color) .uk-dotnav > .uk-active > *, .uk-tile-secondary:not(.uk-preserve-color) .uk-dotnav > .uk-active > *, .uk-card-primary.uk-card-body .uk-dotnav > .uk-active > *, .uk-card-primary > :not([class*='uk-card-media']) .uk-dotnav > .uk-active > *, .uk-card-secondary.uk-card-body .uk-dotnav > .uk-active > *, .uk-card-secondary > :not([class*='uk-card-media']) .uk-dotnav > .uk-active > *, .uk-overlay-primary .uk-dotnav > .uk-active > *, .uk-offcanvas-bar .uk-dotnav > .uk-active > * {
  background-color: #fac710 !important;
  border-color: transparent !important;
}
/*# sourceMappingURL=mainstyle.css.map */