//  css variables
$primaryColor: #fac710;
$textColor: rgb(107, 107, 107);
$hover: #f8d24a;
$navBackground: rgb(241, 241, 241);
$signatureColor: #d9c001;
$pageWidth: 85vw;


body{
    font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }

.section-head-text{
    margin: 0 auto;
    width: 100vw;
    text-align: center;
    margin-top: 50px;
    padding-top: 70px;
    border-top: 1px solid rgb(180, 180, 180);

    h3{
        font-size: 2em;
        font-weight: 700;

        span{
            color: $primaryColor;
        }
    }
}

// header navigation style
header{
    width: 100vw;
    border-bottom: 1px solid rgb(197, 197, 197);
    background-color: rgb(241, 241, 241);

    .social-nav{
        width: 100%;
        border-bottom: 1px solid rgb(139, 139, 139);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .social-icons{
            display: flex;
            width: $pageWidth;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            div{
                a{
                    text-decoration: none;
                    color: $textColor;
                    margin-right: 30px
                }
            }
            .subscribe{
                text-decoration: none;
                background-color:  $primaryColor;
                color: rgb(41, 41, 41);
                padding: 8px 25px;
                border-radius: 5px;
                font-weight: 600;

                &:hover{
                     background-color: $hover;
                }
            }
        }
    }
    .logo-nav{
        width: $pageWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .brand{
            width: 150px;
        }

.center{
    display: flex;

    li{
        list-style: none;
        position: relative;
        margin-right: 50px;
        font-weight: 600;
        color: $textColor;
        cursor: pointer;

        &:hover{
            color: black;
        }

        .props-drps{
            width: 180px;
        }

        a{
            text-decoration: none;
            color: $textColor;
        }

        ul{
            position: absolute;
            background-color: $navBackground;
            padding: 0;
            display: none;
            transition: 1s;
            width: 180px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom: 5px solid $primaryColor;
            z-index: 1;

            li{
                font-weight: 500;
                padding: 10px 15px;
                margin: 0;
            }

            li:hover{
                color: $primaryColor;
                background-color: rgb(230, 230, 230);
                
            }
        }
    }

    .insight-drps{
        width: 200px;
    }
    .hwiks:hover .hwiks-drps{
        display: block;
    }

    .properties:hover .props-drps{
        display: block;
    }

    .insight:hover .insight-drps{
        display: block;
    }

    .about-us:hover .aboutUs-drps{
        display: block;
    }

}

.right{
    a{
        font-size: 1.1em;
        color: rgb(41, 41, 41);
        text-decoration: none;
        margin-left: 25px;
        font-weight: 600;
    }
    #login{
        background-color: $primaryColor;
        padding: 8px 17px;
        border-radius: 5px;
        &:hover{
            background-color: $hover;
        }
    }
    #sign-up{
        color: $textColor;
    }
}   
    }
}



// header images and sliders styles
.jumbo{
    width: 100vw;
    margin: 0 auto;
    
    
}

.uk-slideshow-items{

    .head-text-wrap-1{
        height: 100%;
        width: $pageWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .dot{
            z-index: 2;
            width: 30%;
            justify-content: center;
            align-items: center;
            height: 100%;
            left: 76% !important;
            top: 15% !important;

            .uk-dotnav{
               align-items: center;

                li{
                    padding-bottom: 40px;
                    color: $primaryColor;
                    font-size: 1.5em;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
    
                    a{
                        border-color: $primaryColor !important;
                        height: 50px;
                        border-radius: 0;
                        width: 4px; 
                    }
                }
            }
           
        }

        .text-1{
            position: relative !important;
            display: flex;
       
            flex-direction: column;
            top: 15%;

            .head-text-1{
                color: rgb(36, 36, 36);
                font-weight: 700 !important;
                font-family: 'Roboto', sans-serif;
                font-size: 3em !important;
                line-height: 60px;
                letter-spacing: 2px !important;
                width: 45%;
                margin-left: 50%;
                
                
                span{
                    color: $primaryColor;
                };
            }
            a{
                background-color: $primaryColor;
                padding: 10px 15px;
                font-weight: 600;
                font-size: 1.1em;
                letter-spacing: 2px;
                width: 160px;
                border-radius: 7px;
                text-align: center;
                margin-left: 50%;
                text-decoration: none;
                color: rgb(37, 37, 37);
                cursor: pointer;

                &:hover{
                    background-color: $hover;
                }
            }
        }
    }


    .head-text-wrap-2{
        height: 100%;
        width: $pageWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .dot{
            z-index: 2;
            width: 30%;
            justify-content: center;
            align-items: center;
            height: 100%;
            left: 76% !important;
            top: 15% !important;

            .uk-dotnav{
               align-items: center;

                li{
                    padding-bottom: 40px;
                    color: $primaryColor;
                    font-size: 1.5em;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
    
                    a{
                        border-color: $primaryColor !important;
                        height: 50px;
                        border-radius: 0;
                        width: 4px; 
                    }
                }
            }
           
        }

        .text-2{
            position: relative !important;
            display: flex;
       
            flex-direction: column;
            top: 15%;

            .head-text-2{
                color: rgb(36, 36, 36);
                font-weight: 700 !important;
                font-family: 'Roboto', sans-serif;
                font-size: 3em !important;
                line-height: 60px;
                letter-spacing: 2px !important;
                width: 40%;
                
                
                
                span{
                    color: $primaryColor;
                };
            }
            a{
                background-color: $primaryColor;
                padding: 10px 15px;
                font-weight: 600;
                font-size: 1.1em;
                letter-spacing: 2px;
                width: 160px;
                border-radius: 7px;
                text-align: center;
                text-decoration: none;
                    color: rgb(37, 37, 37);
                

                &:hover{
                    background-color: $hover;
                }
                
            }
        }
    }

    .head-text-wrap-3{
        height: 100%;
        width: $pageWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .dot{
            z-index: 2;
            width: 30%;
            justify-content: center;
            align-items: center;
            height: 100%;
            left: 76% !important;
            top: 15% !important;

            .uk-dotnav{
               align-items: center;

                li{
                    padding-bottom: 40px;
                    color: $primaryColor;
                    font-size: 1.5em;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
    
                    a{
                        border-color: $primaryColor !important;
                        height: 50px;
                        border-radius: 0;
                        width: 4px; 
                    }
                }
            }
           
        }

        .text-3{
            position: relative !important;
            display: flex;
       
            flex-direction: column;
            top: 15%;

            .head-text-3{
                color: rgb(36, 36, 36);
                font-weight: 700 !important;
                font-family: 'Roboto', sans-serif;
                font-size: 3em !important;
                line-height: 60px;
                letter-spacing: 2px !important;
                width: 50%;
                
                
                
                span{
                    color: $primaryColor;
                };
            }
            a{
                background-color: $primaryColor;
                padding: 10px 15px;
                font-weight: 600;
                font-size: 1.1em;
                letter-spacing: 2px;
                width: 160px;
                border-radius: 7px;
                text-align: center;
                text-decoration: none;
                    color: rgb(37, 37, 37);
                

                &:hover{
                    background-color: $hover;
                }
            }
        }
    }

    .head-text-wrap-4{
        height: 100%;
        width: $pageWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        .dot{
            z-index: 2;
            width: 30%;
            justify-content: center;
            align-items: center;
            height: 100%;
            left: 76% !important;
            top: 15% !important;

            .uk-dotnav{
               align-items: center;

                li{
                    padding-bottom: 40px;
                    color: $primaryColor;
                    font-size: 1.5em;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
    
                    a{
                        border-color: $primaryColor !important;
                        height: 50px;
                        border-radius: 0;
                        width: 4px; 
                    }
                }
            }
           
        }

        .text-4{
            position: relative !important;
            display: flex;
       
            flex-direction: column;
            top: 5%;

            .head-text-4{
                color: rgb(36, 36, 36);
                font-weight: 700 !important;
                font-family: 'Roboto', sans-serif;
                font-size: 3em !important;
                line-height: 60px;
                letter-spacing: 2px !important;
                width: 60%;
                margin-left: 43%;
                
                
                span{
                    color: $primaryColor;
                };
            }
            a{
                background-color: $primaryColor;
                padding: 10px 15px;
                font-weight: 600;
                font-size: 1.1em;
                letter-spacing: 2px;
                width: 160px;
                border-radius: 7px;
                text-align: center;
                margin-left: 43%;
                text-decoration: none;
                color: rgb(37, 37, 37);

                &:hover{
                    background-color: $hover;
                }
            }
        }
    }
  
}

.sign-btn-disable{
    background-color: gray;
}




//     .head-text-wrap{
//         width: 65vw;
//         height: 100%;
//         margin: 0 auto;
//         display: flex;
//         align-items: center;

//         .text-btn{
//                 width: 70%;
//                 border-right: 1px solid rgb(214, 214, 214);
//                 margin-right: 40px;
//             .head-text{
//                 color: white;
//                 font-weight: 700 !important;
//                 font-family: 'Roboto', sans-serif;
//                 font-size: 3em;
//                 line-height: 60px;
//                 letter-spacing: 2px;
//                 span{
//                     color: #d9c001
//                 }
//             }
//             a{
//                 text-decoration: none;
//                 background-color: $primaryColor;
//                 color: rgb(37, 37, 37);
//                 letter-spacing: 2px;
//                 font-weight: 600;
//                 padding: 8px 15px;
             
//                 &:hover{
//                     background-color: $hover;
//                 } 
//             }
           
//         }
   
//         .search-wrapper{
//             width: 50%;
//             height: 50px;
//             background-color: white;
//             box-sizing: border-box;
//             display: flex;
//             justify-content: space-between;

//             .search{
//                 border: none;
//                 height: 100%;
//                 width: 80%;
//                 padding-left: 15px;
//                 &:focus{
//                     outline: none;
//                 }
//             }
//             .submit{
//                 height: 100%;
//                 background-color: $primaryColor;
//                 border:none;
//                 width: 20%;
//                 right: 0;
//                 font-weight: 600;
//                 &:focus{
//                     outline: none;
//                 }
//                 &:hover{
//                     background-color: $hover;
//                 }
//             }
//         }
//     }
// }


// .partner-wrapper{
//     width: 100vw;
//     border-bottom: 1px solid rgb(218, 218, 218);
    
//     .partners{
//         display: flex;
//         justify-content: space-between;
//         width: 65vw;
//         height: 100px;
//         margin: 0 auto;
    
//         img{
//            width: 150px;
//            opacity: 0.2;
//            height: 100px; 
//         }
//     }
    
// }

.uk-margin-auto-vertical{
    width: 500px !important;
}


// webna subscription pop up opt-in styles
.auth-form{
    .init-pop-up{
        
        border-top: 6px solid $primaryColor;
        border-bottom: 6px solid $primaryColor;
        border-radius: 15px;  
    }
    .auth-wrapper{
        background-image: url("/images/pop-back.png");
        background-position: center;
        background-size: 500px;
        background-repeat: no-repeat;
        border-radius: 15px;
        border-top: 6px solid $primaryColor;
        border-bottom: 6px solid $primaryColor;
 

        img{
            width: 100px;

        }
        h4{

            font-weight: 700;
            color: teal;
            font-size: 1.8em; 
        }
    }
    form{

        justify-content: center;

        input{
            border: 1px solid $primaryColor;
            font-weight: 600;
            border-radius: 5px;

            &:focus{
                border: 1.5px solid teal
            }
        }

        button{
            width: 100%;
            margin: 0 auto;
            border: none;
            font-size: 1.2em;
            font-weight: 600;
            padding: 12px 30px;
            border-radius: 10px;
            background-color: black;
            color: white;
            margin-top: 30px;
            margin-left: 35px;
            text-align: center;

            &:hover{
                background-color: $hover;
            }
        }

        select{
            font-weight: 600;
            color: $textColor;
            border-radius: 10px;
            border: 1px solid $primaryColor;
            margin-top: 20px;
        }
    }
}

.fact{
    width: $pageWidth;
    margin: 0 auto;

    .uk-slideshow-items{

        color: black !important;
        & > div{
            z-index: 2;
            color: black !important;

    .facts-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
  
            .circle{
                height: 350px;
                width: 350px;
                border: 60px solid $primaryColor;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; 
                font-size: 2em;
                color: gray;
                font-weight: 700;
                border-radius: 100%;
                padding: 7px;
                line-height: 45px;
                text-align: center;

                p{
                    
                    color: white;
                    font-weight: 700;
                }
                .rate{
                    i{
                        font-size: 1.5em !important;
                    }
                }
                i{
                    font-size: 4em;
                    
                }
            }
            .right-text{
                width: 30%;
                margin-left: 50px;
                margin-right: 0;
                font-size: 3em;
                font-weight: 800;
                text-align: center;
                color: black;
            }

            .left-text{
                width: 30%;
                margin-left: 50px;
                text-align: left;
                line-height: 30px;
                font-size: 1.5em;
                font-weight: 800;
                color: $textColor;

                span{
                    color: $primaryColor;
                }
            }
        }
    }
    .arr{
        color: goldenrod;
        font-weight: 600;;
    }
    ul{
        li{
            color: $primaryColor;
            a{
                border-color: $primaryColor !important;
                width: 20px !important;
                height: 20px;
                border: 2px solid $primaryColor !important;
            }
            .uk-active{
                border-color: $primaryColor !important;
                background-color: $primaryColor !important;
            }
        }
    }
}


// footer styles
footer{
    width: 100vw;
    background-color: rgb(231, 231, 231);
    padding-top: 30px;

    h5{
        text-align: center;
        font-weight: 800;
        font-size: 1.5em;

        span{
            color: $primaryColor;
        }
    }
    .footer-wrapper{
        width: $pageWidth;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 30px;
            width: 20%;
            padding-bottom: 30px;

            h5{
                font-size: 1.3em;
            }
            img{
                width: 150px;
            }
            
            a{
                text-decoration: none;
                color: rgb(56, 56, 56);
                padding-bottom: 10px;
                font-size: 1.2em;
                &:hover{
                    color: rgb(49, 43, 6);
                    font-weight: 500;
                }
            }
        }
        .other-service{
            padding-left: 150px;
            
        }
        .terms{
            padding-left: 70px;
        }
    }

    .copy-right{
        width: 100vw;
        height: 40px;
        background-color: rgb(185, 185, 185);

        p{
            width: $pageWidth;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            letter-spacing: 2px;
        }
    }
}


// .cookies styles
.cookies{
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: $navBackground;
    padding-top: 10px;
    transition: 400ms;
    
    .cookie-content{
        width: 80vw;
        margin: 0 auto;
        text-align: center;
        font-weight: 600;

        #cookies-btns{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
                background-color: $primaryColor;
                padding: 10px 30px;
                color: $textColor;
                border-radius: 5px;

                &:hover{
                    background-color: $hover;
                }
            }
            button{
                background-color: $primaryColor;
                padding: 10px 30px;
                color: $textColor;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                font-weight: 600;

                &:hover{
                    background-color: $hover;
                }
            }
        }
    }
}


// jquery classses added on event prompt
.active{
    bottom: 0;
}

.noHover{
    pointer-events: none;
}

.uk-dotnav > .uk-active > * {
    background-color: $primaryColor !important;
    border-color: $primaryColor !important;
}



// jquery classses added on event prompt

#modal-center{
    h5{
        text-align: center;
        font-weight: 700;
        font-size: 1.6em;
    }

    p{
        font-size: 1.5em;
        text-align: center;
    }
  
}
.modal-img{
    width: 400px;
    margin-left: 10%;
}

#signup-complete{
    h5{
        text-align: center;
        font-weight: 700;
        font-size: 1.6em;
    }

    p{
        font-size: 1.5em;
        text-align: center;
    }
}

.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}



// CTA hover effect style
@mixin transition($in) {
	transition:$in;
	-webkit-transition:$in;
	-moz-transition:$in;
	-o-transition:$in;
	-ms-transition:$in;
}
@mixin transform($in) {
	transform:$in;
	-webkit-transform:$in;
	-moz-transform:$in;
	-o-transform:$in;
	-ms-transform:$in;
}
@mixin animation($in) {
	animation:$in;
	-webkit-animation:$in;
	-moz-animation:$in;
	-o-animation:$in;
	-ms-animation:$in;
}


.myButt {
	outline:none;
	border:none;
	padding:20px;
	display:block;
	margin:50px auto;
	cursor:pointer;
	font-size:20px;
    background-color:black;
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    padding: 12px 30px;
    border-radius: 10px;
    width: 100%;
	position:relative;


	@include transition(all 0.7s ease);
}


// ################ ONE

.one {
	border-color:#fff;
	overflow:hidden;
	color:#fff;

	.insider {
		background-color:#fff;
		width:100%;
		height:20px;
		position:absolute;
		left:-135px;

		@include transform(rotateZ(45deg));
	}

	&:hover {
		background-color:$primaryColor;
		border-color:#fff;
		color:#fff;

		.insider {
			@include transition(all 0.3s ease);
			left:135px;
		}
	}
}

// know more page styles

#know-header-text{
    text-align: center;
    font-weight: 600;
    margin-bottom: 70px;
    span{
        color: $primaryColor;
    }
}

.knowMore{
    width: $pageWidth;
    margin: 0 auto;
    height: 800px;
    margin-bottom: 100px;
    ul{
        height: 100%;
        li{
            .tabs-wrapper{
                width: 100%;
                display: flex;
                flex-direction: column;
                height: 100%;

                & > div{
                    border: 5px solid $primaryColor;
                    height: 300px;
                    width: 60%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 40px;
                    border-radius: 6px;
                    -webkit-box-shadow: 0px 1px 37px -30px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 1px 37px -30px rgba(0,0,0,0.75);
                    box-shadow: 0px 1px 37px -30px rgba(0,0,0,0.75);
                    transition: 500ms;

                    &:hover{
                        transform: translate(3px, 3px);
                        -webkit-box-shadow: 0px 1px 37px -20px rgba(0,0,0,0.75);
                        -moz-box-shadow: 0px 1px 37px -20px rgba(0,0,0,0.75);
                        box-shadow: 0px 1px 37px -20px rgba(0,0,0,0.75);
                    }

                    img{
                        width: 300px;
                        margin-right: 50px;
                    }

                    & > div{
                        margin: 0;
                        padding: 0;
                        p{
                            color: $textColor;
                            font-size: 1.2em;
                        }
                        h5{
                            color: rgb(37, 37, 37);
                            font-weight: 700;
                            text-align: center;
                            font-size: 1.5em;
                            letter-spacing: 1px;

                            span{
                                color: $primaryColor;
                            }
                        }
                    }
                }
                .top{
                    margin-bottom: 100px;
                }
                .bottom{
                    margin-left: 20%;

                    img{
                        margin-right: 0;
                    }
                }
            }
            .head-text-wrap-1{
                .dot{
                    left: 85% !important;
                    
                    .uk-dotnav{
                        li{
                            a{
                                height: 25px;
                                width: 25px;
                                border: 3px solid $primaryColor;
                                border-radius: 100%;
                                  
                            }
                        }
                    }
                }
            } 
        }
    }
}

.uk-light .uk-slidenav{
    color: rgb(45, 45, 94) !important;
    border: 3px solid rgb(45, 45, 94);
    border-radius: 100%;

    svg{
        width: 25px !important;
        height: 32px;
    }
    
}