$primaryColor: #fac710;
$textColor: rgb(107, 107, 107);
$hover: #f8d24a;
$navBackground: rgb(241, 241, 241);
$signatureColor: #d9c001;

body{
    font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
  }

.section-head-text{
    margin: 0 auto;
    width: 65vw;
    text-align: center;
    margin-top: 100px;

    h3{
        font-size: 2em;
        font-weight: 700;
    }
}


header{
    width: 100vw;
    border-bottom: 1px solid rgb(197, 197, 197);
    background-color: rgb(241, 241, 241);

    .social-nav{
        width: 100%;
        border-bottom: 1px solid rgb(139, 139, 139);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .social-icons{
            display: flex;
            width: 65vw;
            height: 100%;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            div{
                a{
                    text-decoration: none;
                    color: $textColor;
                    margin-right: 30px
                }
            }
            .subscribe{
                text-decoration: none;
                background-color:  $primaryColor;
                color: rgb(41, 41, 41);
                padding: 8px 25px;
                border-radius: 5px;
                font-weight: 600;

                &:hover{
                     background-color: $hover;
                }
            }
        }
    }
    .logo-nav{
        width: 65vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        .brand{
            width: 150px;
        }

.center{
    display: flex;

    li{
        list-style: none;
        position: relative;
        margin-right: 50px;
        font-weight: 600;
        color: $textColor;
        cursor: pointer;

        &:hover{
            color: black;
        }

        .props-drps{
            width: 180px;
        }

        a{
            text-decoration: none;
            color: $textColor;
        }

        ul{
            position: absolute;
            background-color: $navBackground;
            padding: 0;
            display: none;
            transition: 1s;
            width: 180px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom: 5px solid $primaryColor;
            z-index: 1;

            li{
                font-weight: 500;
                padding: 10px 15px;
                margin: 0;
            }

            li:hover{
                color: $primaryColor;
                background-color: rgb(230, 230, 230);
                
            }
        }
    }
    .hwiks:hover .hwiks-drps{
        display: block;
    }

    .properties:hover .props-drps{
        display: block;
    }

    .insight:hover .insight-drps{
        display: block;
    }

    .about-us:hover .aboutUs-drps{
        display: block;
    }

}

.right{
    a{
        font-size: 1.1em;
        color: rgb(41, 41, 41);
        text-decoration: none;
        margin-left: 25px;
        font-weight: 600;
    }
    #login{
        background-color: $primaryColor;
        padding: 8px 17px;
        border-radius: 5px;
        &:hover{
            background-color: $hover;
        }
    }
    #sign-up{
        color: $textColor;
    }
}   
    }
}


.jumbo{
    width: 100vw;
    margin: 0 auto;
    
}

.uk-slideshow-items{

    .head-text-wrap{
        height: 100%;
        width: 65vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .dot{
            z-index: 2;
            width: 30%;
            justify-content: center;
            align-items: center;
            height: 100%;
            left: 68% !important;
            top: 15% !important;

            .uk-dotnav{
               align-items: center;

                li{
                    padding-bottom: 40px;
                    color: $primaryColor;
                    font-size: 1.5em;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
    
                    a{
                        border-color: $primaryColor !important;
                        height: 50px;
                        border-radius: 0;
                        width: 4px; 
                    }
                }
            }
           
        }

        .text{
            position: relative !important;
            .head-text{
                color: rgb(36, 36, 36);
                font-weight: 700 !important;
                font-family: 'Roboto', sans-serif;
                font-size: 3em !important;
                line-height: 60px;
                letter-spacing: 2px !important;
                width: 70%;
                
                span{
                    color: $primaryColor;
                };
            }
            p{
                background-color: $primaryColor;
                padding: 10px 15px;
                font-weight: 600;
                font-size: 1.1em;
                letter-spacing: 2px;
                width: 160px;
                border-radius: 7px;
                text-align: center;

                &:hover{
                    background-color: $hover;
                }
                
                a{
                    text-decoration: none;
                    color: rgb(37, 37, 37);
                }
            }
        }
    }
    li{
        
        img{

            

        }
    }
  
}

//     .head-text-wrap{
//         width: 65vw;
//         height: 100%;
//         margin: 0 auto;
//         display: flex;
//         align-items: center;

//         .text-btn{
//                 width: 70%;
//                 border-right: 1px solid rgb(214, 214, 214);
//                 margin-right: 40px;
//             .head-text{
//                 color: white;
//                 font-weight: 700 !important;
//                 font-family: 'Roboto', sans-serif;
//                 font-size: 3em;
//                 line-height: 60px;
//                 letter-spacing: 2px;
//                 span{
//                     color: #d9c001
//                 }
//             }
//             a{
//                 text-decoration: none;
//                 background-color: $primaryColor;
//                 color: rgb(37, 37, 37);
//                 letter-spacing: 2px;
//                 font-weight: 600;
//                 padding: 8px 15px;
             
//                 &:hover{
//                     background-color: $hover;
//                 } 
//             }
           
//         }
   
//         .search-wrapper{
//             width: 50%;
//             height: 50px;
//             background-color: white;
//             box-sizing: border-box;
//             display: flex;
//             justify-content: space-between;

//             .search{
//                 border: none;
//                 height: 100%;
//                 width: 80%;
//                 padding-left: 15px;
//                 &:focus{
//                     outline: none;
//                 }
//             }
//             .submit{
//                 height: 100%;
//                 background-color: $primaryColor;
//                 border:none;
//                 width: 20%;
//                 right: 0;
//                 font-weight: 600;
//                 &:focus{
//                     outline: none;
//                 }
//                 &:hover{
//                     background-color: $hover;
//                 }
//             }
//         }
//     }
// }


.partner-wrapper{
    width: 100vw;
    border-bottom: 1px solid rgb(218, 218, 218);
    
    .partners{
        display: flex;
        justify-content: space-between;
        width: 65vw;
        height: 100px;
        margin: 0 auto;
    
        img{
           width: 150px;
           opacity: 0.2;
           height: 100px; 
        }
    }
    
}

.uk-margin-auto-vertical{
    width: 500px !important;
}

.auth-form{
    
    .auth-wrapper{
        background-image: url("/images/signUp.png");
        background-position: center;
        background-size: 500px;
        background-repeat: no-repeat;
        border-radius: 15px;
        border-top: 6px solid teal;
 

        img{
            width: 100px;

        }
        h4{

            font-weight: 700;
            color: teal;
            font-size: 1.8em; 
        }
    }
    form{

        justify-content: center;

        input{
            border: 1px solid $primaryColor;
            font-weight: 600;
            border-radius: 5px;

            &:focus{
                border: 1.5px solid teal
            }
        }

        button{
            width: 100%;
            margin: 0 auto;
            border: none;
            font-size: 1.2em;
            font-weight: 600;
            padding: 12px 30px;
            border-radius: 10px;
            background-color: $primaryColor;
            color: $textColor;
            margin-top: 30px;
            margin-left: 35px;
            text-align: center;

            &:hover{
                background-color: $hover;
            }
        }

        select{
            font-weight: 600;
            color: $textColor;
            border-radius: 10px;
            border: 1px solid $primaryColor;
        }
    }
}

.fact{
    width: 65vw;
    margin: 0 auto;
    .uk-slideshow-items{
        color: black !important;
        & > div{
            z-index: 2;
            color: black !important;
    .facts-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    #rate-circle{
        background-color: gray;;
    }
            .circle{
                height: 350px;
                width: 350px;
                background-color: rgb(221, 221, 221);
                border: 60px solid $primaryColor;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column; 
                font-size: 2em;
                color: gray;
                font-weight: 700;
                border-radius: 100%;
                padding: 7px;
                line-height: 45px;
                text-align: center;

                p{
                    
                    color: white;
                    font-weight: 700;
                }
                .rate{
                    i{
                        color: $primaryColor;
                        font-size: 0.9em !important;
                    }
                }
            }
            .right-text{
                width: 30%;
                margin-left: 50px;
                margin-right: 20px;
                font-size: 1.2em;
                font-weight: 600;
                color: $textColor;
            }

            .left-text{
                width: 30%;
                margin-right: 50px;
                margin-left: 20px;
                text-align: right;
                font-size: 1.2em;
                font-weight: 600;
                color: $textColor;
            }
        }
    }
    .arr{
        color: goldenrod;
        font-weight: 600;;
    }
}

footer{
    width: 100vw;
    background-color: rgb(231, 231, 231);

    .footer-wrapper{
        width: 65vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div{
            display: flex;
            flex-direction: column;
            width: 30%;
            margin-right: 30px;
            padding: 30px 0;

            h5{
                font-size: 1.3em;
            }
            img{
                width: 150px;
            }
            
            a{
                text-decoration: none;
                color: rgb(56, 56, 56);
                padding-bottom: 10px;
                font-size: 1.2em;
                &:hover{
                    color: rgb(49, 43, 6);
                    font-weight: 500;
                }
            }
        }
    }

    .copy-right{
        width: 100vw;
        height: 40px;
        background-color: rgb(185, 185, 185);

        p{
            width: 65vw;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            letter-spacing: 2px;
        }
    }
}

.cookies{
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: $navBackground;
    padding-top: 10px;
    transition: 400ms;
    
    .cookie-content{
        width: 80vw;
        margin: 0 auto;
        text-align: center;
        font-weight: 600;

        #cookies-btns{
            width: 100%;
            display: flex;
            justify-content: space-between;
            a{
                background-color: $primaryColor;
                padding: 10px 30px;
                color: $textColor;
                border-radius: 5px;

                &:hover{
                    background-color: $hover;
                }
            }
            button{
                background-color: $primaryColor;
                padding: 10px 30px;
                color: $textColor;
                border-radius: 5px;
                border: none;
                cursor: pointer;
                font-weight: 600;

                &:hover{
                    background-color: $hover;
                }
            }
        }
    }
}

.active{
    bottom: 0;
}

#modal-center{
    h5{
        text-align: center;
        font-weight: 700;
        font-size: 1.6em;
    }

    p{
        font-size: 1.5em;
        text-align: center;
    }
  
}
.modal-img{
    width: 400px;
    margin-left: 10%;
}

#signup-complete{
    h5{
        text-align: center;
        font-weight: 700;
        font-size: 1.6em;
    }

    p{
        font-size: 1.5em;
        text-align: center;
    }
}

.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;

    a{
        text-decoration: none;
        font-size: 1.2em;
        font-weight: 600;
        padding: 12px 30px;
        border-radius: 10px;
        width: 100vw;
        background-color: $primaryColor;
        color: $textColor;
        text-align: center;

        &:hover{
            background-color: $hover;
        }
    }
}