body {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.section-head-text {
  margin: 0 auto;
  width: 65vw;
  text-align: center;
  margin-top: 100px;
}

.section-head-text h3 {
  font-size: 2em;
  font-weight: 700;
}

header {
  width: 100vw;
  border-bottom: 1px solid #c5c5c5;
  background-color: #f1f1f1;
}

header .social-nav {
  width: 100%;
  border-bottom: 1px solid #8b8b8b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header .social-nav .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 65vw;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

header .social-nav .social-icons div a {
  text-decoration: none;
  color: #6b6b6b;
  margin-right: 30px;
}

header .social-nav .social-icons .subscribe {
  text-decoration: none;
  background-color: #fac710;
  color: #292929;
  padding: 8px 25px;
  border-radius: 5px;
  font-weight: 600;
}

header .social-nav .social-icons .subscribe:hover {
  background-color: #f8d24a;
}

header .logo-nav {
  width: 65vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

header .logo-nav .brand {
  width: 150px;
}

header .logo-nav .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-nav .center li {
  list-style: none;
  position: relative;
  margin-right: 50px;
  font-weight: 600;
  color: #6b6b6b;
  cursor: pointer;
}

header .logo-nav .center li:hover {
  color: black;
}

header .logo-nav .center li .props-drps {
  width: 180px;
}

header .logo-nav .center li a {
  text-decoration: none;
  color: #6b6b6b;
}

header .logo-nav .center li ul {
  position: absolute;
  background-color: #f1f1f1;
  padding: 0;
  display: none;
  -webkit-transition: 1s;
  transition: 1s;
  width: 180px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 5px solid #fac710;
  z-index: 1;
}

header .logo-nav .center li ul li {
  font-weight: 500;
  padding: 10px 15px;
  margin: 0;
}

header .logo-nav .center li ul li:hover {
  color: #fac710;
  background-color: #e6e6e6;
}

header .logo-nav .center .hwiks:hover .hwiks-drps {
  display: block;
}

header .logo-nav .center .properties:hover .props-drps {
  display: block;
}

header .logo-nav .center .insight:hover .insight-drps {
  display: block;
}

header .logo-nav .center .about-us:hover .aboutUs-drps {
  display: block;
}

header .logo-nav .right a {
  font-size: 1.1em;
  color: #292929;
  text-decoration: none;
  margin-left: 25px;
  font-weight: 600;
}

header .logo-nav .right #login {
  background-color: #fac710;
  padding: 8px 17px;
  border-radius: 5px;
}

header .logo-nav .right #login:hover {
  background-color: #f8d24a;
}

header .logo-nav .right #sign-up {
  color: #6b6b6b;
}

.jumbo {
  width: 100vw;
  margin: 0 auto;
}

.uk-slideshow-items .head-text-wrap {
  height: 100%;
  width: 65vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uk-slideshow-items .head-text-wrap .dot {
  z-index: 2;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  left: 68% !important;
  top: 15% !important;
}

.uk-slideshow-items .head-text-wrap .dot .uk-dotnav {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uk-slideshow-items .head-text-wrap .dot .uk-dotnav li {
  padding-bottom: 40px;
  color: #fac710;
  font-size: 1.5em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.uk-slideshow-items .head-text-wrap .dot .uk-dotnav li a {
  border-color: #fac710 !important;
  height: 50px;
  border-radius: 0;
  width: 4px;
}

.uk-slideshow-items .head-text-wrap .text {
  position: relative !important;
}

.uk-slideshow-items .head-text-wrap .text .head-text {
  color: #242424;
  font-weight: 700 !important;
  font-family: 'Roboto', sans-serif;
  font-size: 3em !important;
  line-height: 60px;
  letter-spacing: 2px !important;
  width: 70%;
}

.uk-slideshow-items .head-text-wrap .text .head-text span {
  color: #fac710;
}

.uk-slideshow-items .head-text-wrap .text p {
  background-color: #fac710;
  padding: 10px 15px;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 2px;
  width: 160px;
  border-radius: 7px;
  text-align: center;
}

.uk-slideshow-items .head-text-wrap .text p:hover {
  background-color: #f8d24a;
}

.uk-slideshow-items .head-text-wrap .text p a {
  text-decoration: none;
  color: #252525;
}

.sign-btn-disable {
  background-color: gray;
}

.partner-wrapper {
  width: 100vw;
  border-bottom: 1px solid #dadada;
}

.partner-wrapper .partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65vw;
  height: 100px;
  margin: 0 auto;
}

.partner-wrapper .partners img {
  width: 150px;
  opacity: 0.2;
  height: 100px;
}

.uk-margin-auto-vertical {
  width: 500px !important;
}

.auth-form .init-pop-up {
  border-top: 6px solid #fac710;
  border-bottom: 6px solid #fac710;
  border-radius: 15px;
}

.auth-form .auth-wrapper {
  background-image: url("/images/signUp.png");
  background-position: center;
  background-size: 500px;
  background-repeat: no-repeat;
  border-radius: 15px;
  border-top: 6px solid #fac710;
  border-bottom: 6px solid #fac710;
}

.auth-form .auth-wrapper img {
  width: 100px;
}

.auth-form .auth-wrapper h4 {
  font-weight: 700;
  color: teal;
  font-size: 1.8em;
}

.auth-form form {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.auth-form form input {
  border: 1px solid #fac710;
  font-weight: 600;
  border-radius: 5px;
}

.auth-form form input:focus {
  border: 1.5px solid teal;
}

.auth-form form button {
  width: 100%;
  margin: 0 auto;
  border: none;
  font-size: 1.2em;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  margin-top: 30px;
  margin-left: 35px;
  text-align: center;
}

.auth-form form button:hover {
  background-color: #f8d24a;
}

.auth-form form select {
  font-weight: 600;
  color: #6b6b6b;
  border-radius: 10px;
  border: 1px solid #fac710;
}

.fact {
  width: 65vw;
  margin: 0 auto;
}

.fact .uk-slideshow-items {
  color: black !important;
}

.fact .uk-slideshow-items > div {
  z-index: 2;
  color: black !important;
}

.fact .uk-slideshow-items > div .facts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.fact .uk-slideshow-items > div #rate-circle {
  background-color: gray;
}

.fact .uk-slideshow-items > div .circle {
  height: 350px;
  width: 350px;
  background-color: #dddddd;
  border: 60px solid #fac710;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2em;
  color: gray;
  font-weight: 700;
  border-radius: 100%;
  padding: 7px;
  line-height: 45px;
  text-align: center;
}

.fact .uk-slideshow-items > div .circle p {
  color: white;
  font-weight: 700;
}

.fact .uk-slideshow-items > div .circle .rate i {
  color: #fac710;
  font-size: 0.9em !important;
}

.fact .uk-slideshow-items > div .right-text {
  width: 30%;
  margin-left: 50px;
  margin-right: 20px;
  font-size: 1.2em;
  font-weight: 600;
  color: #6b6b6b;
}

.fact .uk-slideshow-items > div .left-text {
  width: 30%;
  margin-right: 50px;
  margin-left: 20px;
  text-align: right;
  font-size: 1.2em;
  font-weight: 600;
  color: #6b6b6b;
}

.fact .arr {
  color: goldenrod;
  font-weight: 600;
}

footer {
  width: 100vw;
  background-color: #e7e7e7;
}

footer .footer-wrapper {
  width: 65vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-wrapper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  margin-right: 30px;
  padding: 30px 0;
}

footer .footer-wrapper > div h5 {
  font-size: 1.3em;
}

footer .footer-wrapper > div img {
  width: 150px;
}

footer .footer-wrapper > div a {
  text-decoration: none;
  color: #383838;
  padding-bottom: 10px;
  font-size: 1.2em;
}

footer .footer-wrapper > div a:hover {
  color: #312b06;
  font-weight: 500;
}

footer .copy-right {
  width: 100vw;
  height: 40px;
  background-color: #b9b9b9;
}

footer .copy-right p {
  width: 65vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  letter-spacing: 2px;
}

.cookies {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding-top: 10px;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cookies .cookie-content {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

.cookies .cookie-content #cookies-btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cookies .cookie-content #cookies-btns a {
  background-color: #fac710;
  padding: 10px 30px;
  color: #6b6b6b;
  border-radius: 5px;
}

.cookies .cookie-content #cookies-btns a:hover {
  background-color: #f8d24a;
}

.cookies .cookie-content #cookies-btns button {
  background-color: #fac710;
  padding: 10px 30px;
  color: #6b6b6b;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.cookies .cookie-content #cookies-btns button:hover {
  background-color: #f8d24a;
}

.active {
  bottom: 0;
}

.noHover {
  pointer-events: none;
}

#modal-center h5 {
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
}

#modal-center p {
  font-size: 1.5em;
  text-align: center;
}

.modal-img {
  width: 400px;
  margin-left: 10%;
}

#signup-complete h5 {
  text-align: center;
  font-weight: 700;
  font-size: 1.6em;
}

#signup-complete p {
  font-size: 1.5em;
  text-align: center;
}

.btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.myButt {
  outline: none;
  border: none;
  padding: 20px;
  display: block;
  margin: 50px auto;
  cursor: pointer;
  font-size: 20px;
  background-color: black;
  text-decoration: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 10px;
  width: 100%;
  position: relative;
  transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
}

.one {
  border-color: #fff;
  overflow: hidden;
  color: #fff;
}

.one .insider {
  background-color: #fff;
  width: 100%;
  height: 20px;
  position: absolute;
  left: -135px;
  transform: rotateZ(45deg);
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
}

.one:hover {
  background-color: #fac710;
  border-color: #fff;
  color: #fff;
}

.one:hover .insider {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  left: 135px;
}
/*# sourceMappingURL=mainstyle.css.map */