<%- include("./partials/header") %>
<section class="hero" style="background-image: url(images/room1.png);">
    <div class="head-text-wrap">
        <div class="text-btn">
        <h3 class="head-text">Finding/building a place to <span>stay, live</span> and/or  work can be stress-free</h3>
        <a href="#">Find out more</a>
        </div>
        <form action="" class="search-wrapper">     
            <input type="text" name="" id="" class="search" placeholder="Where do you want to live">
            <input type="submit" name="" id="" value="search" class="submit"> 
        </form>
    </div>
</section>
<main>
    <section class="partner-wrapper">
        <div class="partners">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
        </div>
    </section>

<section class="section-head-text">
    <h3>Real Estate listings and homes for sale</h3>
</section>
    <section class="facts">
        <div class="buy">
            <i class="home icon"></i>
            <h5>Buy your home</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.  A commodi ut magnam, recusandae</p>
            <a href="#">Find yours</a>
        </div>
        <div class="rent">
            <i class="home icon"></i>
            <h5>Rent a home</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.  A commodi ut magnam, recusandae</p>
            <a href="#">Find yours</a>
        </div>
        <div class="sell">
            <i class="home icon"></i>
            <h5>Sell your home</h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.  A commodi ut magnam, recusandae</p>
            <a href="#">Find yours</a>
        </div>
    </section>














</main>
<%- include("./partials/footer") %>