<%- include("./partials/header") %>


<!-- <section class="hero" style="background-image: url(images/room1.png);">
    <div class="head-text-wrap">
        <div class="text-btn">
        <h3 class="head-text">Finding/building a place to <span>stay, live</span> and/or  work can be stress-free</h3>
        <a href="#">Find out more</a>
        </div>
        <form action="" class="search-wrapper">     
            <input type="text" name="" id="" class="search" placeholder="Where do you want to live">
            <input type="submit" name="" id="" value="search" class="submit"> 
        </form>
    </div>
</section> -->

<div class="uk-position-relative uk-visible-toggle uk-light jumbo" tabindex="-1" uk-slideshow="animation: push; min-height: 300; max-height: 600; autoplay: true; autoplay-interval: 10000">

    <ul class="uk-slideshow-items">
        <li>
            <img src="images/slider1.png" alt="" class="uk-position-center">
            <div class=" uk-position-small head-text-wrap">
                <div class="text">
                    <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="head-text">Finding/building a place to <span>stay, live</span> and/or  work can be stress-free</h2>
                    <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"><a href="">Find out more</a></p>
                </div>
                <div class="uk-position-bottom-center uk-position-small dot">
                    <ul class="uk-dotnav uk-dotnav-vertical">
                        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                        <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <img src="images/slider2.png" alt="" class="uk-position-center-right">
            <div class=" uk-position-small head-text-wrap">
                <div class="text">
                    <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="head-text">Finding/building place to <span>stay, live</span> and/or work can save you time & money</h2>
                    <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"><a href="">Find out more</a></p>
                </div>
                <div class="uk-position-bottom-center uk-position-small dot">
                    <ul class="uk-dotnav">
                        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                        <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <img src="images/slider3.png" alt="" class="uk-position-center-right">
            <div class=" uk-position-small head-text-wrap">
                <div class="text">
                    <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="head-text" >Finding a place to <span>stay, live</span> and/or work can be easy & safe</h2>
                    <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"><a href="">Find out more</a></p>
                </div>
                <div class="uk-position-bottom-center uk-position-small dot">
                    <ul class="uk-dotnav">
                        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                        <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <img src="images/slider4.png" alt="" class="uk-position-center-right">
            <div class=" uk-position-small head-text-wrap">
                <div class="text">
                    <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0" class="head-text">Finding a place to <span>stay, live</span> and/or work can have your privacy as paramount consideration</h2>
                    <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0"><a href="">Find out more</a></p>
                </div>
                <div class="uk-position-bottom-center uk-position-small dot">
                    <ul class="uk-dotnav">
                        <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                        <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                        <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                        <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>


<main>
    <section class="partner-wrapper">
        <div class="partners">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
            <img src="images/airbnb.png" alt="">
        </div>
    </section>

    <section class="section-head-text">
        <h3>The Average Local Stayz Customer</h3>
    </section>

    <div uk-slideshow="animation: push min-height: 300; max-height: 400" class="fact">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">
    
            <div class="uk-slideshow-items">
                <div>
                    <div class="facts-wrapper">
                        <div class="right-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                        <div class="circle">Find property under 30 days</div>
                        <div class="left-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                    </div>
                </div>
                <div>
                    <div class="facts-wrapper">
                        <div class="right-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                        <div class="circle">Save Ghc2500 in fees</div>
                        <div class="left-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                    </div>
                </div>
                <div>
                    <div class="facts-wrapper">
                        <div class="right-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                        <div class="circle">Gets 100% for what they want</div>
                        <div class="left-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                    </div>
                </div>
                <div>
                    <div class="facts-wrapper">
                        <div class="right-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                        <div class="circle" id="rate-circle">
                           <p>Rate us</p>
                            <div class="rate">
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                                <i class="star icon"></i>
                            </div>
                        </div>
                      
                        <div class="left-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum quam in</div>
                    </div>
                </div>
            </div>
            <a class="uk-position-center-left-out arr" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right-out arr" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    
        </div>
    
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
    
    </div>


</main>
<%- include("./partials/footer") %>