<%- include("../partials/header") %>
<h1>LOG IN</h1>
<form action="/xcelzs/login" method="POST">
    <input type="text" name="username" placeholder="Enter Username">
    <input type="email" name="email" placeholder="enter E-mail">
    <input type="password" name="password" placeholder="Enter Passwoord">
    <button>SIGN UP</button>
</form>

<%- include("../partials/footer") %>