<%- include("../partials/header") %>
<section class="service-container">
    <div class="fee-header">
        <h1 id="fee-header-text">About our Fees</h1>
        <p>Choose the package that best suits your needs and you are one click away from your Dream or Investment Property</p>
    </div>
       
                <div class="fees-tab-wrapper">
                    <div class="top">
                       <div>
                        <a class="ui ribbon label">1</a>
                           <h4>Fixed Fee</h4>
                            <div>
                                    <p>One-off fee that covers your property request from inception, completion to post completion.</p>
                                    <img src="images/fees1.png" alt="">
                            </div>
                            
                       </div>

                       <div>
                        <a class="ui ribbon label">2</a>
                           <h4>Advance Payment</h4>
                            <div>
                                    <p>Pay an initial subscription fee to get your request started, pay all commission fee at completion of your property request.</p>
                                    <img src="images/fees2.png" alt="">
                            </div>
                            
                       </div>
                    </div>
                 
                    <div class="bottom">
                        <div>
                            <a class="ui ribbon label">3</a>
                            <h4>Split Fee</h4>
                             <div>
                                     <p>An initial set-up fee to get your request started and the rest upon completion of your request.</p>
                                     <img src="images/fees3.png" alt="">
                             </div>
                             
                        </div>
                        <div>
                            <a class="ui ribbon label">4</a>
                            <h4>Instalment Payment</h4>
                             <div>
                                     <p>Pay initial subscription fee to get your request started, make first payment of your commission fee at completion of your request,  the second  at move in date, the 3rd one month post move in date and the last payment 2 months post move in date.</p>
                                     <img src="images/fees4.png" alt="">
                             </div>
                             
                        </div>
                    </div>
    </div>
    
    <div class="next-arrow">
        <a href="/about-services-tabs"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
    </div>


    
</section>



<%- include("../partials/footer") %>