<%- include("../partials/header") %>
<section class="service-container">
    <div class="fee-header">
        <h1 id="fee-header-text">About Our Services</h1>
        <p>You are one click away from your dream / investment propert or your ideal buyer/tenant. </p>
    </div>
    <div class="btn-tabs">
        <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
            <li><a href="#">Property User</a></li>
            <li><a href="#">Property Owner</a></li>
            <li><a href="#">Property Investor</a></li>
        </ul>
        
        <ul class="uk-switcher uk-margin">
            <li>  
                <div class="fees-tab-wrapper" id="property-user">
                    <div class="top">
                        <div></div>
                        <div></div>
                    </div>
                    <div class="middle">
                        <div></div>
                    </div>
                    <div class="bottom">
                        <div></div>
                        <div></div>
                    </div>
                </div>
            </li>
            <li>Hello again!</li>
            <li>Bazinga!</li>
        </ul>
    </div>
    
    <div class="next-arrow">
        <a href="/how-it-works"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
    </div>
</section>



<%- include("../partials/footer") %>