<%- include("../partials/header") %>
<section class="service-container">
    <div class="fee-header">
        <h1 id="fee-header-text">About Our Services</h1>
        <p>We offer an easy-to-use, fair, value for money, transparent one-stop property solutions platform to help you buy, rent, sell, let, build and/or design your dream or investment property.</p>
    </div>
       
                <div class="fees-tab-wrapper">
                    <div class="top uk-flex uk-flex-around">
                       <div>
                        <a class="ui ribbon label">1</a>
                           <h4>Subscribe</h4>
                            <div>
                                    <p>Subscribe  to get all year access to discounted commission rates and save up to 5000+ GHC in fees.</p>
                                    <img src="images/service8.png" alt="">
                            </div>
                            
                       </div>

                       <div>
                        <a class="ui ribbon label">2</a>
                           <h4>Complete Account</h4>
                            <div>
                                    <p>Indicate status, sign terms and conditions, upload copy of your ID, proof of income/property ownership, residency,  police report etc to verify your account.</p>
                                    <img src="images/service9.png" alt="">
                            </div>
                            
                       </div>
                    </div>
                 
                    <div class="bottom top uk-flex uk-flex-around">
                        <div>
                            <a class="ui ribbon label">3</a>
                            <h4>Property Request</h4>
                             <div>
                                     <p>Complete property and area guide readings, Calculate affordability and costs, Make as many property requests as possible, pay for your requests at any time 24/7, submit offers on a property.</p>
                                     <img src="images/service10.png" alt="">
                             </div>
                             
                        </div>
                        <div>
                            <a class="ui ribbon label">4</a>
                            <h4>After Care</h4>
                             <div>
                                     <p> Follow through with your requests, coordinate all your request needs, manage your account and raise any issues etc at any time.</p>
                                     <img src="images/service11.png" alt="">
                             </div>
                             
                        </div>
                    </div>
    </div>
    
    <div class="next-arrow">
        <a href="/about-services-tabs"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
    </div>


    
</section>



<%- include("../partials/footer") %>