<%- include("../partials/header") %>
<section class="service-tabs-container">
    <div class="service-header">
        <h1 id="fee-header-text">About Our Services</h1>
        <p>You are one click away from your dream / investment propert or your ideal buyer/tenant. </p>
    </div>
    <div class="btn-tabs">
        <ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
            <li><a href="#">Property User</a></li>
            <li><a href="#">Property Investor</a></li>
        </ul>
        
        <ul class="uk-switcher uk-margin">
            <li>  
                <div class="service-tabs-wrapper" id="property-user">
                    <div class="top">
                       <a href="/short-let">
                            <h5>Short-let</h5>
                            <img src="images/service1.png" alt="">
                    </a> 
                       <a href="/design">
                        <h5>Design & Build</h5>
                        <img src="images/service2.png" alt="">
                       </a>
                    </div>
                 
                    <div class="bottom">
                        <a href="/rent">
                            <h5>Rent</h5>
                            <img src="images/service3.png" alt="">
                        </a>
                        <a href="/buy">
                            <h5>Buy</h5>
                            <img src="images/service4.png" alt="">
                        </a>
                    </div>

                    <a class="next-arrow">
                        <a href="/what-is-included"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
                    </a>
            </li>
            <li> <div class="service-tabs-wrapper" id="property-user">
                <div class="top">
                   <a href="">
                        <h5>Design & Build</h5>
                        <img src="images/service5.png" alt="">
                </a> 
                </div>
             
                <div class="bottom">
                    <a href="">
                        <h5>Rent</h5>
                        <img src="images/service6.png" alt="">
                    </a>
                    <a href="">
                        <h5>Buy</h5>
                        <img src="images/service7.png" alt="">
                    </a>
                </div>
                <a class="next-arrow">
                    <a href="/how-much-to-save"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
                </a>
            </li>
        </ul>
    </div>
    
   
</section>



<%- include("../partials/footer") %>