<%- include("../partials/header") %>
<section class="fees-container">
    <div class="fees-wrapper">
    <div class="fee-header">
        <h1 id="fee-header-text">About our Fees</h1>
        <p>Choose the package that best suits your needs and you are one click away from your Dream or Investment Property</p>
    </div>

    <div class="know-tabs-wrapper">
                    <!-- left tab -->
                    <div class="left">
                        <h5>Fee Package</h5>
                        <div class="top">
                            <img src="images/know1.png" alt="">
                            <div class="text">
                            <h5>Fixed Fee</h5>
                            <p>One-off fee that covers your property request from inception, completion to post completion.</p>
                            </div>
                        </div>
                            <div>
                                <img src="images/know1.png" alt="">
                                <div class="text">
                                <h5>Split Fee</h5>
                                <p>Our one-stop Property Solutions Platform puts in charge with. You get to follow through how your property request is progressing, and make changes anytime of the day.</p>
                                </div>
                            </div>
                    </div>
                    <!-- right tab -->
                    <div class="left">
                        <h5>Payment Package</h5>
                        <div class="top">
                            <img src="images/know1.png" alt="">
                            <div class="text">
                            <h5>Advance Payment</h5>
                            <p>Pay an initial fee to get your request started and pay the rest post completion.</p>
                            </div>
                        </div>
                            <div>
                                <img src="images/know1.png" alt="">
                                <div class="text">
                                <h5>Instalment Payment</h5>
                                <p>Make first payment to get your request started, the second on completion and the rest on a monthly basis over 2 instalment until maximum one month post move in date.</p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="next-arrow">
                <a href="/how-it-works"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
            </div>
            
</section>




<%- include("../partials/footer") %>