<%- include("../partials/header") %>
<section class="get-started">
    <section class="section-head-text">
        <h3>Getting Started<br/> <span>Welcome to LocalStayz</span></h3>
        <p>Your one-stop Property Solutions online Platform</p>
    </section>
    
    <div class="get-started-wrapper">
        <div>
            How would you like to Short-Let, Buy, Rent, Design, Build, Sell, Let and or Invest in your Dream/Investment Property and save up to <span>GHC 5,000+</span> in fees as a Local Stayz Property Owner, Property User, or Property Investor?
        </div>
    </div>
    <div class="next-arrow" id="started">
        <i class="huge arrow alternate circle down outline icon"></i>
        <a href="#" class='myButt one' id="started-btn">
            <div class='insider'></div>
                Subscribe Now
        </a>
    </div>
</section>

<%- include("../partials/footer") %>