<%- include("../partials/header") %>

<section class="how-it-works">
    <section class="section-head-text">
        <h3>Why it Works <br/> <span>You win</span></h3>
        <p>Your ONE-STOP property solutions online platform is a "no brainer" really. See below for yourself.</p>
    </section>
    
    <div class="how-it-works-wrapper">

        <div>
            <div></div>
            <div></div>
        </div>
        <div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>


<%- include("../partials/footer") %>