<%- include("../partials/header") %>
<h1 id="know-header-text">About Our <span>Services</span></h1>

<section>

    <div class="uk-position-relative uk-visible-toggle uk-light knowMore" tabindex="-1" uk-slideshow="animation: slide; min-height: 300; max-height: 600;  autoplay-interval: 10000">

        <ul class="uk-slideshow-items">
            <li>
                <div class="tabs-wrapper">
                    <div class="top">
                        <img src="images/know1.png" alt="">
                        <div class="text">
                            <h5><span>24/7</span> online access</h5>
                            <p>Our one-stop Property Solutions Platform puts in charge with. You get to follow through how your property request is progressing, and make changes anytime of the day.</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="text">
                            <h5> <span>End-to-End</span> Progress Tracking</h5>
                            <p>You can take your property request throughout the whole end-to-end process. We don't stop when a request is accepted. We will progress a requests all the way through to completion, and also offers after care post completion all from your account.</p>
                        </div>
                        <img src="images/know2.png" alt="">
                    </div>
                </div>
                <div class=" uk-position-small head-text-wrap-1">
                    <div class="uk-position-bottom-center uk-position-small dot">
                        <ul class="uk-dotnav uk-dotnav-vertical">
                            <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                            <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                            <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                            <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="tabs-wrapper">
                    <div class="top">
                        <img src="images/know5.png" alt="">
                        <div class="text">
                            <h5>Time <span>Efficiency</span></h5>
                            <p>You have all you need at a go in one place. With detailed floor plans, area guides, average pricing guides, sales history, you get to make an informed decision faster.</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="text">
                            <h5><span>Discounted</span> Rates</h5>
                            <p>You get access to discounted commission/service rates, properties with flexible payment plans, always ensuring value for money.</p>
                        </div>
                        <img src="images/know6.png" alt="">
                    </div>
                </div>
                <div class=" uk-position-small head-text-wrap-1">
                    <div class="uk-position-bottom-center uk-position-small dot">
                        <ul class="uk-dotnav uk-dotnav-vertical">
                            <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                            <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                            <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                            <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="tabs-wrapper">
                    <div class="top">
                        <img src="images/know3.png" alt="">
                        <div class="text">
                            <h5>Effective <span>Search</span></h5>
                            <p>You can calculate affordability, monthly repayments, and/or do pre mortgage qualification etc to ensure choosing the best option for your needs.</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="text">
                            <h5><span>Verified & Qualified </span>Leads and offers</h5>
                            <p>You are aided you with fully verified and qualified leads and offers, taking your safety into consideration and having your privacy as paramount consideration at all times.</p>
                        </div>
                        <img src="images/know4.png" alt="">
                    </div>
                </div>
                <div class=" uk-position-small head-text-wrap-1">
                    <div class="uk-position-bottom-center uk-position-small dot">
                        <ul class="uk-dotnav uk-dotnav-vertical">
                            <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                            <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                            <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                            <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <div class="tabs-wrapper">
                    <div class="top">
                        <img src="images/know8.png" alt="">
                        <div class="text">
                            <h5>Online <span>Dashboard</span></h5>
                            <p>You can manage and update your property (requests), negotiate an offer, reference your tenant, pay rent etc from the comfort of your home from your online account.</p>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="text">
                            <h5>Account <span>Management</span></h5>
                            <p>You can do Viewing management, Letting management, booking management, Building Project management, Payment management, Offers Negotiations, Online Appraisal etc. You can do this all from the comfort of your home</p>
                        </div>
                        <img src="images/know7.png" alt="">
                    </div>
                </div>
                <div class=" uk-position-small head-text-wrap-1">
                    <div class="uk-position-bottom-center uk-position-small dot">
                        <ul class="uk-dotnav uk-dotnav-vertical">
                            <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
                            <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
                            <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
                            <li uk-slideshow-item="3"><a href="#">Item 4</a></li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        div
        <h5 class="next uk-position-bottom-center">Next</h5><a class="uk-position-bottom-center uk-position-small " href="#" uk-slidenav-next uk-slideshow-item="next"></a>
    </div>

</section>

<%- include("../partials/footer") %>