<%- include("../partials/header") %>
<section class="service-container">
    <div class="fee-header" id="whats-included">
        <h1 id="fee-header-text">What's Included</h1>
    </div>
       
                <div class="fees-tab-wrapper">
                    <div class="top">
                       <div>
                        <a class="ui ribbon label">5</a>
                           <h4><span>Effective</span> Search</h4>
                            <div>
                                    <p>You can calculate affordability, monthly repayments, and/or do pre mortgage qualification etc to ensure choosing the best option for your needs.</p>
                                    <img src="images/know3.png" alt="">
                            </div>
                            
                       </div>

                       <div>
                        <a class="ui ribbon label">2</a>
                           <h4><span>Verified & Qualified</span> Leads and offers</h4>
                            <div>
                                    <p>You are aided you with fully verified and qualified leads and offers, taking your safety into consideration and having your privacy as paramount consideration at all times.</p>
                                    <img src="images/know4.png" alt="">
                            </div>
                            
                       </div>
                    </div>
                 
                    <div class="bottom">
                        <div>
                            <a class="ui ribbon label">3</a>
                            <h4><span>Online</span> Dashboard</h4>
                             <div>
                                     <p>You can manage and update your property (requests), negotiate an offer, reference your tenant, pay rent etc from the comfort of your home from your online account.</p>
                                     <img src="images/know9.png" alt="">
                             </div>
                             
                        </div>
                        <div>
                            <a class="ui ribbon label">4</a>
                            <h4><span>Account</span> Management</h4>
                             <div>
                                     <p>You can do Viewing management, Letting management, booking management, Building Project management, Payment management, Offers Negotiations, Online Appraisal etc. You can do this all from the comfort of your home.</p>
                                     <img src="images/know6.png" alt="">
                             </div>
                             
                        </div>
                    </div>
    </div>
    
    <div class="next-arrow">
        <a href="/about-our-fees"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
    </div>


    
</section>



<%- include("../partials/footer") %>