<%- include("../partials/header") %>
<section class="service-container">
    <div class="fee-header" id="whats-included">
        <h1 id="fee-header-text">What's Included</h1>
    </div>
       
                <div class="fees-tab-wrapper">
                    <div class="top">
                       <div>
                        <a class="ui ribbon label">1</a>
                           <h4><span>24/7</span> Online Access</h4>
                            <div>
                                    <p>Our one-stop Property Solutions Platform puts in charge with. You get to follow through how your property request is progressing, and make changes anytime of the day.</p>
                                    <img src="images/know2.png" alt="">
                            </div>
                            
                       </div>

                       <div>
                        <a class="ui ribbon label">2</a>
                           <h4><span>End-to-End</span> Progress Tracking</h4>
                            <div>
                                    <p>You can take your property request throughout the whole end-to-end process. We don't stop when a request is accepted. We will progress a requests all the way through to completion, and also offers after care post completion all from your account.</p>
                                    <img src="images/know.png" alt="">
                            </div>
                            
                       </div>
                    </div>
                 
                    <div class="bottom">
                        <div>
                            <a class="ui ribbon label">3</a>
                            <h4>Time <span>Efficiency</span></h4>
                             <div>
                                     <p>You have all you need at a o in one place. With detailed floor plans, area guides, average pricing guides, sales history, you get to make an informed decision faster.</p>
                                     <img src="images/know5.png" alt="">
                             </div>
                             
                        </div>
                        <div>
                            <a class="ui ribbon label">4</a>
                            <h4><span>Discounted</span> Rates</h4>
                             <div>
                                     <p>You get access to discounted commission or service rates, properties with flexible payment plans, always ensuring value for money.</p>
                                     <img src="images/know6.png" alt="">
                             </div>
                             
                        </div>
                    </div>
    </div>
    
    <div class="next-arrow">
        <a href="/what-is-included-2"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
    </div>


    
</section>



<%- include("../partials/footer") %>