<%- include("../partials/header") %>

<section class="service-container">
    <section class="fee-header">
        <h1 id="fee-header-text">Why it Works <br/> <span>You win</span></h1>
        <p>Your ONE-STOP property solutions online platform is a "no brainer" really. See below for yourself.</p>
    </section>
    
    <div class="fees-tab-wrapper" id="property-user">
        <div class="top">
           <div>
            <a class="ui ribbon label">1</a>
               <h4> Reviews & Ratings</h4>
                <div>
                    <img src="images/itWorks1.png" alt="">
                        <p>100% of our users rates us excellent.</p>
                </div>
                
           </div>

           <div>
            <a class="ui ribbon label">2</a>
               <h4>User Affordability</h4>
                <div>
                        <img src="images/itWorks2.png" alt="">
                        <p>90% of our user has illustrated need for discounted rates and flexible payment plans. We help you get what you can afford.</p>
                </div>
                
           </div>
        </div>
     
        <div class="bottom">
            <div>
                <a class="ui ribbon label">3</a>
                <h4>Trusted Service</h4>
                 <div>
                    <img src="images/itWorks3.png" alt="">
                         <p>80% of our users have demonstrated having trust issues when it comes to real estate in Ghana. We have taken that fear away with our online dashboard and account management.</p>
                 </div>
                 
            </div>
            <div>
                <a class="ui ribbon label">4</a>
                <h4>Value for Money</h4>
                 <div>
                    <img src="images/itWorks4.png" alt="">
                         <p> 75% of our users has demonstrated need for value for money. We have great variety of quality yet affordable properties.</p>
                 </div>
                 
            </div>
        </div>
</div>

<div class="next-arrow">
<a href="/get-started"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
</div>
</section>


<%- include("../partials/footer") %>