<%- include("../partials/header") %>

<section class="why-it-works">
    <section class="section-head-text">
        <h3>Why it Works <br/> <span>You win</span></h3>
        <p>Your ONE-STOP property solutions online platform is a "no brainer" really. See below for yourself.</p>
    </section>
    
    <div class="why-it-works-wrapper">

        <div>
            <div>
                <img src="/images/know5.png" alt="">
                <h5>Reviews & Ratings</h5>
                <p>100% of our users rates us excellent.</p>
            </div>
            <div>
                <img src="/images/know5.png" alt="">
                <h5>User Affordability</h5>
                <p>90% of our user has illustrated need for discounted rates and flexible payment plans. We help you get what you can afford.</p>
            </div>
        </div>
        <div>
            <div>
                <img src="/images/know5.png" alt="">
                <h5>Trusted Service</h5>
                <p>80% of our users have demonstrated having trust issues when it comes to real estate in Ghana. We have taken that fear away with our online dashboard and account management.</p>
            </div>
            <div>
                <img src="/images/know5.png" alt="">
                <h5>Value for Money</h5>
                <p>75% of our users has demonstrated need for value for money. We have great variety of quality yet affordable properties.</p>
            </div>
        </div>
    </div>
    <div class="next-arrow">
        <a href="/get-started"><Span>Next</Span><i class="huge arrow alternate circle right outline icon"></i></a> 
    </div>
</section>


<%- include("../partials/footer") %>